*{
    padding:0;
    margin:0;
}
#navBar{
    width:100%;
    overflow:hidden;
}
.inputField{
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%;
    margin-top:16px!important;
    margin-bottom:16px!important;
    border: 1px solid #ccc!important;
}