*{
    padding:0;
    margin:0;
}
.heroImage{
    padding-top:50%;
    height: 50%;
    background-image: url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
body{
    font-family:Verdana, Geneva, sans-serif;
    font-size:15px;
    line-height: 1.5;
    height: 100%;
}
.stickToTop{
    position:fixed;
    width:100%;
    z-index:1;
}
.navLink b{
    border: 2px solid #fff;
    padding: 5px;
}
#navBar{
    width:100%;
    height: 10%;
    overflow:hidden;
    color:#fff;
    background-color:#000;
    letter-spacing:4px;
    padding:8px 16px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.rightFloat a:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    border-radius: 5px;
}
#navBar a{
    font-family:Verdana, Geneva, sans-serif;
    margin-right: 10px;
}
.rightFloat{
    margin-right: 20px;
    float:right;
}
.navLink{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    float:left;
    width:auto;
    outline:0;
}
#pageContent{
    margin-left:auto;
    margin-right:auto;
    padding:8px 16px;
}
.inputField{
    padding:8px;
    display:block;
    width:100%;
    margin-top:16px;
    margin-bottom:16px;
    border: 1px solid #ccc;
}
#contactContainer, #aboutContainer, #projectContainer, #resumeSection{
    padding:0.01em 16px;
}
#contactSubmitBtn{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    color:#fff;
    background-color:#000;
}
.sectionTitle{
    border-color:#f1f1f1;
    border-bottom:1px solid #ccc;
    padding-top:16px;
    padding-bottom:16px;
}
footer{
    display:inline-block;
    width:100%;
    color:#fff;
    background-color:#000;
    padding-top:16px;
    padding-bottom:16px;
}
footer p{
    text-align:center;
}